# 🔒 Fichiers sensibles
.env
.env.example
.env.local
.env.docker
*.key
*.pem

# 🐍 Environnements virtuels
decima_env/
.venv/
venv/
env/

# 🧠 IDE
.vscode/
.idea/

# 🧪 Tests
tests/
tests/__pycache__/

# 🔄 Caches et Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.cache/
.dmypy.json
.mypy_cache/
.hypothesis/
*.log
*.tmp
*.bak

# ✅ Forcer l'inclusion du dossier mcnptools
!mcnptools/
!mcnptools/**/*

# 📚 Données inutiles (à exclure)
data/cpp/mctal/
data/hpp/mctal/
data/mctal_samples/
data/mctal_scripts/
data/mcnp_files/example_ptrac_1.mcnp_extended.i
data/mcnp_files/LB6411_cezane_SC_75.i

# DOC – Ne garder que les 4 fichiers à la racine de /doc
!doc/DECIMA Project Technical Documentation.md
!doc/DECIMA Project User Documentation.md
!doc/Documentation Technique du Projet DECIMA.md
!doc/Documentation Utilisateur du Projet DECIMA.md
doc/*
!doc/.keep

# PTRAC SAMPLES
!data/ptrac_samples/example_ptrac_1.mcnp.ptrac
!data/ptrac_samples/example_ptrac_2.mcnp.ptrac
data/ptrac_samples/*
!data/ptrac_samples/.keep

# PTRAC SCRIPTS
!data/ptrac_scripts/cpp_example_ptrac_1.cpp
!data/ptrac_scripts/python_example_ptrac_1.py
data/ptrac_scripts/*
!data/ptrac_scripts/.keep

# 📤 Uploads - ne conserver que 2 fichiers
!uploads/example_ptrac_1.mcnp.ptrac
!uploads/example_ptrac_2.mcnp.ptrac
uploads/


# ❌ Dossier KG non requis pour release
kg/neo4j_acces_localhost7474/

# 🧪 Modèles ou embeddings
*.pt
*.onnx

# 🌐 Frontend
frontend/node_modules/
frontend/dist/

# 🔧 Build / pip
*.egg-info/
dist/
build/
*.manifest
*.spec"data/ptrac_scripts/" 
